@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind utilities;


/* Language: css */
/* App general style:  */

body{
    font-family: Lato, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  
}