/* Define the scrollbar styles */
::-webkit-scrollbar {
  background-color: #1b1d2e;
  margin: 0;
  width: 6px;
  height: 6px;
}

/* Define the scrollbar track styles */
::-webkit-scrollbar-track {
  background-color: #1b1d2e;
}

/* Define the scrollbar thumb styles */
::-webkit-scrollbar-thumb {
  background-color: #3e8e7e;
  border-radius: 10px;
}

/* Define the scrollbar corner styles */
::-webkit-scrollbar-corner {
  background-color: #1b1d2e;
}

/* Define the scrollbar button styles */
::-webkit-scrollbar-button {
  background-color: #1b1d2e;
  height: 100%;
}

/* Define the scrollbar hover styles */
::-webkit-scrollbar-thumb:hover {
  background-color: #bcb6d4;
}
